<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!--<script src="js/builder.js"></script>-->
    <!--<script src="js/render.list.action.js"></script>-->
    <!--<script src="js/builder.js"></script>-->
    <link rel="stylesheet" href="css/all.css">

    <title>TEST</title>
</head>
<body>
<div id="app">

    <router-link to="/tree">tree</router-link>

    <router-view></router-view>

    <div id="action-list" v-show="showList">

        <button onclick="getData()">get data by ajax</button>
        <button onclick="altGetData()">get data by fetch</button>
        <div class="buisness-list">
            <h1>Список дел:</h1>
        </div>
        <br>
        <test-comp @submit="sendData"></test-comp>
    </div>
    <br>
    <hr>
    <div>
        <label for="elementNumber">number </label>
        <input id="elementNumber" class="pos" type="number" v-model="number" @keyup="handlerKeypress"> <br>
        <label for="element">element</label>
        <input id="element" type="text" v-model="elem" @keyup="handlerKeypress"> <br>
        <button style="margin-top: 5px;" @click="changeElement">change</button>
        <br>
        list:
        <ul>
            <li v-for="(element, i) in list" @dblclick="removeElement(i)">{{element}}</li>
        </ul>
    </div>
</div>

<script src="js/lib/vue.js"></script>
<script src="dist/bundle.js"></script>
<!--<script src="js/vue/main.model.js"></script>-->
</body>
</html>
