.pos {
    margin: 5px 5px 5px 2px;
}

.hidden {
    visibility: hidden;
}
.ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}
.li {
    list-style-type: none;
    /*border-right: 2px solid #000;*/
    margin-left: 1em;
}
.li div {
    padding-left: 1em;
    position: relative;
}
.li div::before {
    content:'';
    position: relative;
    top: 15px;
    padding-left: 16px;
    left: 65px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid #000;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
}
.ul > li:last-child {
    border-left: 2px solid transparent;
}
.no-child div::before {
    content:'';
    position: relative;
    top: 15px;
    padding-left: 50px;
    left: 65px;
}
.links-bar div {
    width: 10em;
    display: inline-block;
}
/*select*/
.select input {
    width: 200px;
    color: black;
    /*background-color: #e0e0df;*/
    position: relative;
    top: 4px;
    left: 3px;
}
.select-wrapper {
    padding-top: 0px;
    border: black 1px solid;
    width: 210px;
    height: 30px;
}
.select-list {
    list-style-type: none;
}
.select-list-outer-div {
    position: relative;
    left: -35px;
    width: 205px;
    padding-right: 0px;
    padding-left: 0px;
    cursor: pointer;
}
/*.target :hover {*/
/*    background: aquamarine;*/
/*}*/
/*.links-bar>div {*/
/*    background: bisque;*/
/*    text-align: center;*/
/*}*/
/*.links-bar>div:hover {*/
/*    background: aliceblue;*/
/*}*/
.film-container {
    position: absolute;
    top: 38px;
    z-index: -1;
}

/*////////////////////////////////////////////////////////////////////////*/
.vue-dynamic-select {
    border: 1px solid #ced4da;
    position: relative;
    padding: .375em .5em;
    border-radius: .25em;
    cursor: text;
    display: block;
}
.vue-dynamic-select i.dropdown {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    float: right;
    top: .75em;
    opacity: .8;
    cursor: pointer;
}
.vue-dynamic-select .placeholder {
    display: inline-block;
    color: #ccc;
}
.vue-dynamic-select .result-list {
    border: 1px solid #ced4da;
    margin: calc(.375em - 1px) calc(-.5em - 1px);
    width: calc(100% + 2px);
    min-width: calc(100% + 2px);
    border-radius: 0 0 .25em .25em;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    background-color: #fff;
}
.vue-dynamic-select .result-list .result {
    padding: .375em .75em;
    color: #333;
}
.vue-dynamic-select .result-list .result:hover, .vue-dynamic-select .result-list .result:focus {
    background-color: #efefef;
    outline: none;
}
.vue-dynamic-select .selected-option {
    display: inline-block;
}
.vue-dynamic-select .search {
    border: none;
    /*background: #e1f5fd;*/
    width: 50%;
}
.vue-dynamic-select .search:focus {
    outline: none;
}

.key-digits {
    margin-bottom: 5px;
}

.container-calc {
    width: 25%;
}
